@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
	margin: 0;
	font-family: 'Oxygen', sans-serif !important;
	background: rgba(174, 164, 239, 0.10) !important;
	font-size: 16px !important;
}

button {
	padding: 18px 50px !important;
	border-radius: 0 !important;
	font-family: 'Abel', sans-serif !important;
	font-size: 17px !important;
}

.purple {
	background: rgb(117, 69, 194) !important;
	-webkit-box-shadow: 5px 5px 0px 0px rgba(117,69,194,0.31) !important;
	-moz-box-shadow: 5px 5px 0px 0px rgba(117,69,194,0.31) !important;
	box-shadow: 5px 5px 0px 0px rgba(117,69,194,0.31) !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Abel', sans-serif !important;
}